@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
:root {
  --primary-color: black;
  --secondary-color: #7c3aed;
  --light-grey: #f9fafb;
  --dark-grey: #6b7280;
  --light-green: #baffb4;
  --yellow: #fbf46d;
  /*-----violet----tailwind----*/
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

.list-inline {
  display: inline;
  margin: 0 2vw;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: black;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Hyperlinks*/

a {
  text-decoration: none;
  color: inherit;
}

.active {
  border-bottom: 4px solid #f5f3ff;
  font-weight: bold;
}
/* ------container -----------*/
.container {
  /* 	height: 100vh; */
  padding: 5rem;
  max-width: 100vw;
}

.centered-container {
  margin: 0 auto;
}

.grey-container {
  background: var(--light-grey);
}

.section-title {
  text-align: center;
  padding: 1rem 0;
}
.section-subtitle {
  text-align: center;
  color: var(--dark-grey);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

/* ------flex-----------*/
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box {
  box-shadow: 0 1px 25px rgb(146 161 176 / 15%);
  margin: 1rem;
  padding: 1rem;
  width: 40%;
}

/* ------typography-----------*/
.header {
  font-size: 3rem;
}

.highlight {
  color: var(--secondary-color);
}

/* ------buttons-----------*/
.btn {
  border: none;
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  margin: 1rem 0;
  box-shadow: var(--secondary-color) 0px 6px 18px -5px;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
}

.btn-purple {
  background: var(--secondary-color);
}

.btn-green {
  background: var(--light-green);
  box-shadow: var(--light-green) 0px 6px 18px -5px;
}

.btn-inverted-green {
  background: white;
  box-shadow: #c8d1e2 0px 6px 18px -5px;
  color: var(--light-green);
}

.btn-yellow {
  background: var(--yellow);
  box-shadow: var(--yellow) 0px 6px 18px -5px;
}

.btn-inverted-yellow {
  background: white;
  box-shadow: #c8d1e2 0px 6px 18px -5px;
  color: var(--yellow);
}

.navigation {
  background: linear-gradient(to left, #a18cd1, #fbc2eb);
  border-bottom-left-radius: 1rem;
  box-shadow: 0 15px 4px rgb(146 161 176 / 30%);
  padding-left: 1vw;
}

.tech-image {
  height: 2rem;
  width: 2rem;
  margin: auto;
}

.tech-desc {
  text-align: center;
  color: var(--dark-grey);
  margin-top: 0.5rem;
}

.tech-stack {
  margin: 1.5rem 1.5rem;
  width: 6rem;
  background: none;
  padding: 1rem;
}

.tech-row {
  margin: 0;
}

.hero {
  margin: 3.5rem;
}
/* ------footer-----------*/

.footer {
  background-color: var(--light-grey);
  padding: 2rem 0rem;
  text-align: center;
  color: black;
  border-top-right-radius: 1rem;
  box-shadow: 0 1px 25px #e5e7eb;
}

.footer-header {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.link > img {
  display: inline;
  width: 2rem;
}

/* ------Workbox styling-----------*/
.box-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem auto;
}

.box-desc {
  text-align: justify;
  color: var(--dark-grey);
}

.project-hero {
  margin: 0 3.5rem;
}

@media screen and (max-width: 768px) {
  .box {
    width: 90%;
  }
  .flex-around {
    flex-direction: column;
  }

  .project-hero {
    margin: 0;
  }

  .container {
    padding: 3rem 0.5rem;
  }

  .hero {
    margin: 0;
  }
}
